<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<aside class="main-sidebar" th:fragment="sideMenu(code,menuList)">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <th:block th:each="entry:${menuList}">
                <li th:if="${entry.title==title}" class="treeview active" >
                    <a><span th:text="${entry.title}"></span>
                        <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>
                    </a>
                    <ul class="treeview-menu">
                    <th:block th:each="item : ${entry.child}">
                        <li class="menu-item">  <a th:href="${item.url}"> <span th:text="${item.title}"></span> </a> </li>

                    </th:block>
                    </ul>
                </li>
                <li th:unless="${entry.title==title}" class="treeview" >
                    <a><span th:text="${entry.title}"></span>
                        <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>
                    </a>
                    <ul class="treeview-menu">
                        <th:block th:each="item : ${entry.child}">
                            <li class="menu-item">  <a th:href="${item.url}"> <span th:text="${item.title}"></span> </a> </li>

                        </th:block>
                    </ul>
                </li>
            </th:block>
        </ul>
    </section>
</aside>


</html>