<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!-- HEADER Start -->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start -->
    <div th:replace="fragment/sideMenu :: sideMenu(${code},${menuList})"></div>
    <!-- Side Menu End -->


    <!-- Contents-->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                카테고리 관리
                <small>카테고리상세조회</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 카테고리 관리</a></li>
                <li class="active">카테고리 조회</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">카테고리상세정보</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form id="categoryForm" >
                                <div class="col-sm-12">

                                    <div class="form-group row row-center text-center">
                                        <div class="col-sm-3 col-lg-6">
                                            <label for="superCateSelect">대분류</label>
                                            <div class="input-group col-sm-12">
                                                <div class="col-sm-5 pr-0">
                                                    <input  v-if="!selectCate01.includes(item.superCate)&&item.superCate!=''" disabled type="text" class="form-control"  v-model="item.superCate">
                                                    <select v-else class="form-control" id="superCateSelect" v-model="item.superCate" v-on:change="handleCate01">
                                                        <option value="">선택</option>
                                                        <option v-for="category in selectCate01" >{{category}}</option>
                                                    </select>
                                                </div><!-- /input-group -->
                                                <div class="col-sm-7 pl-0">
                                                    <input type="text" class="form-control" id="superCateText" placeholder="대분류" v-model="item.superCate">
                                                </div><!-- /input-group -->

                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-lg-6">
                                            <label for="subCateFirstSelect">소분류 1</label>
                                            <div class="input-group col-sm-12">
                                                <div class="col-sm-5 pr-0">
                                                    <input v-if="!selectCate02.includes(item.subCateFirst)&&item.subCateFirst!=''" disabled type="text" class="form-control"  v-model="item.subCateFirst">
                                                    <select v-else class="form-control" id="subCateFirstSelect" v-model="item.subCateFirst" v-on:change="handleCate02">
                                                        <option value="">선택</option>
                                                        <option v-for="category in selectCate02" >{{category}}</option>
                                                    </select>
                                                </div><!-- /input-group -->

                                                <div class="col-sm-7 pl-0">
                                                    <input type="text" class="form-control" id="subCateFirstText" placeholder="소분류 1" v-model="item.subCateFirst">
                                                </div><!-- /input-group -->

                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-lg-6">
                                            <label for="subCateSecondSelect">소분류 2</label>
                                            <div class="input-group col-sm-12">
                                                <div class="col-sm-5 pr-0">
                                                    <input v-if="!selectCate03.includes(item.subCateSecond)&&item.subCateSecond!=''" disabled type="text" class="form-control"  v-model="item.subCateSecond">
                                                    <select v-else class="form-control" id="subCateSecondSelect" v-model="item.subCateSecond" >
                                                        <option value="">선택</option>
]                                                       <option v-for="category in selectCate03" >{{category}}</option>
                                                    </select>
                                                </div><!-- /input-group -->

                                                <div class="col-sm-7 pl-0">
                                                    <input type="text" class="form-control" id="subCateSecondText" placeholder="소분류 2" v-model="item.subCateSecond">
                                                </div><!-- /input-group -->

                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-lg-6">
                                            <label for="expireDateText">만료일</label>
                                            <div class="input-group col-sm-12">
                                                <div class="col-sm-5 pr-0">
                                                    <select class="form-control" id="expireDateType" v-model="expireDate" >
                                                        <option value="year">년</option>
                                                        <option value="month">월</option>
                                                    </select>
                                                </div><!-- /input-group -->

                                                <div class="col-sm-7 pl-0">
                                                    <input type="text" class="form-control" id="expireDateText" placeholder="만료일" v-model="item.expireDate" v-on:change="setExpireDate">
                                                </div><!-- /input-group -->

                                            </div>
                                        </div>


                                    </div>

                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-sm btn-primary dark" v-on:click="initConditions">      초기화     </button>
                                        <button type="button" class="btn btn-sm btn-primary dark" v-on:click="searchCategories">    조회      </button>
                                        <button id="createButton" type="button" class="btn btn-sm btn-primary dark" v-on:click="createCategory">      등록      </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="items_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="items_table" class="table table-bordered table-hover dataTable font-14"
                                               role="grid" aria-describedby="example2_info">
                                            <thead>
                                                <tr role="row">
                                                <th id="selectAll" class="text-center bg-dark-blue-gradient table-middle" tabindex="0" rowspan="1" colspan="1">
                                                    <input type="checkbox" id="rowID" aria-label="Checkbox for following text input">
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    대분류
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    소분류 1
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    소분류 2
                                                </th>
                                                <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    기본 만료일 (월)
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="itemList">
                                                <tr role="row" class="odd item" v-for="(dto, idx) in item" >
                                                    <td class="text-center"> <input type="checkbox" aria-label="Checkbox for following text input" v-bind:index="idx"  v-bind:itemId="dto.id" v-on:change="CheckHandler"> </td>
                                                    <td class="text-center" v-on:click="rowHandler(event, dto)">{{dto.superCate}}       </td>
                                                    <td class="text-center" v-on:click="rowHandler(event, dto)">{{dto.subCateFirst}}    </td>
                                                    <td class="text-center" v-on:click="rowHandler(event, dto)">{{dto.subCateSecond}}   </td>
                                                    <td class="text-center" v-on:click="rowHandler(event, dto)">{{dto.expireDate}}      </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div id="showPage" class="col-sm-6">
                                        <span  class="dataTables_info" role="status" aria-live="polite">
                                            Showing {{currentPage}} to {{totalPages}} of {{currentElements}} entries
                                        </span>
                                        <span v-if="selectedElements != 0">
                                            / selected item(s) {{selectedElements}}
                                        </span>

                                    </div>
                                </div>

                                <div class="row text-center col-sm-12">
                                    <div class="dataTables_paginate paging_simple_numbers" id="pageBtn">
                                        <ul class="pagination">
                                            <li class="paginate_button previous" id="previousBtn">
                                                <a href="javascript:;" v-on:click="previousClick">이전</a>
                                            </li>

                                            <li class="paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick">
                                                <a href="javascript:;" aria-controls="example2" v-bind:btn_id="btn">{{btn}}</a>
                                            </li>

                                            <li class="paginate_button next" id="nextBtn">
                                                <a href="javascript:;" v-on:click="nextClick">다음</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <!-- Content End -->

    <!-- Footer Start -->
    <div th:replace="fragment/footer :: footer"></div>
    <!-- Footer End -->

    <!-- controlSidebar Start -->
    <div th:replace="fragment/controlSidebar :: controlSidebar"></div>
    <!-- controlSidebar End -->

    <!-- categoryModal Start -->
    <div th:replace="fragment/modal/categoryModal :: categoryModal"></div>
    <!-- categoryModal End -->

    <div class="control-sidebar-bg"></div>


</div>


<script src="/app/category.js"></script>
</body>
</html>