<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!-- HEADER Start -->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start-->
    <div th:replace="fragment/sideMenu :: sideMenu(${code},${menuList})"></div>
    <!-- Side Menu End -->


    <!-- Contents-->
    <div id="dashboard" class="content-wrapper">
        <section class="content-header">
            <div class="row md-2">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua center"><i class="fa fa-envelope-o"></i></span>

                        <div class="info-box-content pt-2">
                            <span class="info-box-text">대여요청자산</span>
                            <span class="info-box-number">{{row1.requestItem}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- ./col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red center"><i class="fa fa-star-o"></i></span>

                        <div class="info-box-content pt-2">
                            <span class="info-box-text">대여연체자산</span>
                            <span class="info-box-number">{{row1.overdueItem}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- ./col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box ">
                        <span class="info-box-icon bg-green center"><i class="fa fa-flag-o"></i></span>

                        <div class="info-box-content pt-2">
                            <span class="info-box-text">이번주 추가 자산</span>
                            <span class="info-box-number">{{row1.weekAddItem}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- ./col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow center"><i class="fa fa-files-o"></i></span>

                        <div class="info-box-content pt-2">
                            <span class="info-box-text">이번달 만료 자산</span>
                            <span class="info-box-number">{{row1.expireMonth}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- ./col -->
            </div>

            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Donut Chart</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body center">

                            <div class="col-md-5 col-sm-5 col-xs-12 text-center">
                                <canvas id="test"  ></canvas>
                                <span class="info-box-number mt-2 md-1">HW 자산</span>
                            </div>

                            <div class="col-md-1 col-sm-1"></div>

                            <div class="col-md-5 col-sm-5 col-xs-12 text-center">
                                <canvas id="test12" ></canvas>
                                <span class="info-box-number mt-2 md-1">SW 자산</span>

                            </div>
                        </div>
                        <!-- /.box-body -->

                    </div>

                </div>



                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">공지사항</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table table-striped">
                                <tbody><tr>
                                    <th></th>
                                    <th>공지사항</th>
                                    <th>부서</th>
                                    <th style="width: 40px">작성자</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>자산 업데이트</td>
                                    <td>TEST 부서</td>
                                    <td><span>admin</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>권한 업데이트</td>
                                    <td>TEST 부서</td>
                                    <td><span>admin</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>대여 안내</td>
                                    <td>TEST 부서</td>
                                    <td><span>admin</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>대여 신청방법</td>
                                    <td>TEST 부서</td>
                                    <td><span>admin</span></td>
                                </tr>
                                </tbody></table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>



            </div>
        </section>
    </div>
    <!-- Content End -->

    <!-- Footer Start -->
    <div th:replace="fragment/footer :: footer"></div>
    <!-- Footer End -->

    <!-- controlSidebar Start -->
    <div th:replace="fragment/controlSidebar :: controlSidebar"></div>
    <!-- controlSidebar End -->

    <div class="control-sidebar-bg"></div>
</div>


<script src="/app/index.js"></script>
</body>
</html>