<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!-- HEADER Start -->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start -->
    <div th:replace="fragment/sideMenu :: sideMenu(${code},${menuList})"></div>
    <!-- Side Menu End -->


    <!-- Contents-->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                대여 관리
                <small>대여기록조회</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>대여 관리</a></li>
                <li class="active">대여기록조회</li>
            </ol>
        </section>

        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <h3 class="box-title">대여기록조회</h3>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-body">
                            <form id="queryConditions" >
                                <div class="col-sm-12">
                                    <div class="form-group row row-center text-center">
                                        <label class="col-sm-1 col-form-label">자산ID</label>
                                        <div class="col-sm-2">
                                            <label class="sr-only" for="itemId">superCate</label>
                                            <input type="text" class="form-control" id="itemId" placeholder="자산ID" v-model="id">
                                        </div>
                                        <label class="col-sm-1 col-form-label">자산이름</label>
                                        <div class="col-sm-2">
                                            <label class="sr-only" for="itemId">superCate</label>
                                            <input type="text" class="form-control" id="itemName" placeholder="자산이름" v-model="name">
                                        </div>

                                        <label class="col-sm-1 col-form-label">등록일</label>
                                        <div class="col-sm-2">
                                            <input type="text" id="createDate" class="form-control col-sm-3" placeholder="등록일" v-model="createDate" >
                                        </div>

                                        <label class="col-sm-1 col-form-label">만료일</label>
                                        <div class="col-sm-2">
                                            <input type="text" id="expireDate" class="form-control col-sm-3" placeholder="만료일" v-model="expireDate">
                                        </div>

                                    </div>

                                    <div class="form-group row row-center text-center">
                                        <label class="col-sm-1 col-form-label">분류정보</label>
                                        <div class="col-sm-4">
                                            <label for="superCate">대분류</label>
                                            <select id="superCate" class="form-control" v-model="superCate" v-on:change="handleCate01">
                                                <option value="">선택</option>
                                                <option v-for="category in selectCate01" >{{category}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="subCateFirst">소분류 1</label>
                                            <select id="subCateFirst" class="form-control" v-model="subCateFirst" v-on:change="handleCate02">
                                                <option value="">선택</option>
                                                <option v-for="category in selectCate02" >{{category}}</option>
                                            </select>

                                        </div>
                                        <div class="col-sm-4">
                                            <label for="subCateSecond">소분류 2</label>
                                            <select id="subCateSecond" class="form-control" v-model="subCateSecond">
                                                <option value="">선택</option>
                                                <option v-for="category in selectCate03" >{{category}}</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group row row-center text-center">
                                        <label class="col-sm-1 col-form-label">상태정보</label>
                                        <div class="col-sm-4">
                                            <label for="itemState">자산상태</label>
                                            <select id="itemState" class="form-control" v-model="itemState">
                                                <option value="">선택</option>
                                                <option v-for="state in selectItem" >{{state}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="rentalState">대여상태</label>
                                            <select id="rentalState" class="form-control" v-model="rentalState">
                                                <option value="">선택</option>
                                                <option v-for="state in selectRental" >{{state}}</option>
                                            </select>

                                        </div>
                                        <div class="col-sm-4">
                                            <label for="placeState">위치상태</label>
                                            <select id="placeState" class="form-control" v-model="placeState">
                                                <option value="">선택</option>
                                                <option>...</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-sm btn-primary dark" v-on:click="initConditions"> 초기화 </button>
                                        <button type="button" class="btn btn-sm btn-primary dark" v-on:click="searchItems"> 조회 </button>
                                        <button type="button" class="btn btn-sm btn-primary dark" v-on:click="createItem"> 등록 </button>
                                        <button type="button" class="btn btn-sm btn-primary dark"> 카테고리등록 </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <!-- Content End -->

    <!-- Footer Start -->
    <div th:replace="fragment/footer :: footer"></div>
    <!-- Footer End -->

    <!-- controlSidebar Start -->
    <div th:replace="fragment/controlSidebar :: controlSidebar"></div>
    <!-- controlSidebar End -->

    <div class="control-sidebar-bg"></div>

    <!-- itemModal Start -->
    <div th:replace="fragment/itemModal :: itemModal"></div>
    <!-- itemModal End -->

</div>


<script src="/app/bookmark.js"></script>
</body>
</html>