<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!-- HEADER Start -->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start -->
    <div th:replace="fragment/sideMenu :: sideMenu(${code},${menuList})"></div>
    <!-- Side Menu End -->


    <!-- Contents-->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                대여 관리
                <small>대여기록조회</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>대여 관리</a></li>
                <li class="active">대여기록조회</li>
            </ol>
        </section>

        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header md-1">
                            <h3 class="box-title">대여기록조회</h3>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-body">
                            <form id="queryConditions" >
                                <div class="col-sm-12">

                                    <div class="row text-center md-4">

                                        <div class="col-sm-4 row-center">
                                            <label class="col-sm-3 col-form-label">대여인</label>
                                            <div class="col-sm-9">
                                                <label class="sr-only" for="name">대여인</label>
                                                <input type="text" class="form-control" id="name" placeholder="대여인" v-model="name">
                                            </div>
                                        </div>


                                        <div class="col-sm-4 row-center">
                                            <label class="col-sm-3 col-form-label">전화번호</label>
                                            <div class="col-sm-9">
                                                <label class="sr-only" for="phone">전화번호</label>
                                                <input type="text" class="form-control" id="phone" placeholder="전화번호" v-model="phone">
                                            </div>
                                        </div>


                                        <div class="col-sm-4 row-center">
                                            <label class="col-sm-3 col-form-label">이메일</label>
                                            <div class="col-sm-9">
                                                <label class="sr-only" for="email">이메일</label>
                                                <input type="text" class="form-control" id="email" placeholder="이메일" v-model="email">
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row text-center md-4">
                                        <div class="col-sm-4 row-center">
                                            <label class="col-sm-3 col-form-label">부서정보</label>
                                            <div class="col-sm-9">
                                                <select id="department" class="col-sm-8 form-control" v-model="department">
                                                    <option value="">선택</option>
                                                    <option v-for="category in departments" >{{category}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 row-center">
                                            <label class="col-sm-3 col-form-label">팀정보</label>
                                            <div class="col-sm-9">
                                                <select id="team" class="col-sm-8 form-control" v-model="team" >
                                                    <option value="">선택</option>
                                                    <option v-for="category in teams" >{{category}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4"></div>

                                    </div>


                                    <div class="form-group pull-right">
                                        <button id="initButton"   type="button" class="btn btn-sm btn-primary dark" v-on:click="initConditions"> 초기화 </button>
                                        <button id="searchButton" type="button" class="btn btn-sm btn-primary dark" v-on:click="searchItems">    조회   </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <!-- Content End -->

    <!-- Footer Start -->
    <div th:replace="fragment/footer :: footer"></div>
    <!-- Footer End -->

    <!-- controlSidebar Start -->
    <div th:replace="fragment/controlSidebar :: controlSidebar"></div>
    <!-- controlSidebar End -->

    <div class="control-sidebar-bg"></div>

    <!-- itemModal Start -
    <div th:replace="fragment/itemModal :: itemModal"></div>
     itemModal End -->

</div>


<script src="/app/bookmark.js"></script>
</body>
</html>