<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!-- HEADER Start -->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start -->
    <div th:replace="fragment/sideMenu :: sideMenu(${code},${menuList})"></div>
    <!-- Side Menu End -->


    <!-- Contents-->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                대여 관리
                <small>대여 관리</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>대여 관리</a></li>
                <li class="active">대여 관리</li>
            </ol>
        </section>

        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <h3 class="box-title">대여 관리</h3>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-body">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a data-toggle="tab" href="#request">대여신청</a></li>
                                <li role="presentation"><a data-toggle="tab" href="#overdue">반납연체</a></li>
                            </ul>

                            <div class="tab-content mt-1">
                                <div id="request" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="requestItems" class="table table-bordered table-hover dataTable font-14"
                                                   role="grid" aria-describedby="example2_info">
                                                <thead>
                                                <tr role="row">
                                                    <th id="requestSelectAll" class="text-center bg-dark-blue-gradient table-middle" tabindex="0" rowspan="1" colspan="1">
                                                        <input type="checkbox" id="requestRow" aria-label="Checkbox for following text input">
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        대여인
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        대여팀
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        자산번호
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        자산명칭
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        대분류
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        소분류 1
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        소분류 2
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        시작일
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        종료일
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody id="requestList">
                                                <tr role="row" class="odd item" v-for="(dto, idx) in items" >
                                                    <td class="text-center"> <input type="checkbox" aria-label="Checkbox for following text input" v-bind:index="idx"  v-bind:itemId="dto.id" v-on:change="checkHandler( event, dto )   "> </td>
                                                    <td class="text-center" >{{dto.userName}}        </td>
                                                    <td class="text-center" >{{dto.teamName}}        </td>
                                                    <td class="text-center" >{{dto.itemId}}          </td>
                                                    <td class="text-center" >{{dto.itemName}}        </td>
                                                    <td class="text-center" >{{dto.superCate}}       </td>
                                                    <td class="text-center" >{{dto.subCateFirst}}    </td>
                                                    <td class="text-center" >{{dto.subCateSecond}}   </td>
                                                    <td class="text-center" >{{dto.startDate}}       </td>
                                                    <td class="text-center" >{{dto.endDate}}         </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="requestShowPage" class="row">
                                        <div class="col-sm-6">
                                        <span  class="dataTables_info" role="status" aria-live="polite">
                                            Showing {{currentPage}} to 10 of {{totalElements}} entries
                                        </span>
                                            <span v-if="selectedElements != 0">
                                            / selected item(s) {{selectedElements}}
                                        </span>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group pull-right">
                                                <button id="acceptButton" type="button" class="btn btn-sm btn-primary dark" v-on:click="acceptHandler"> 승인 </button>
                                                <button id="denyButton"   type="button" class="btn btn-sm btn-danger"       v-on:click="denyHandler">   반려 </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center col-sm-12">
                                        <div class="dataTables_paginate paging_simple_numbers" id="requestPageBtn">
                                            <ul class="pagination">
                                                <li class="paginate_button previous" id="requestPreviousBtn">
                                                    <a href="javascript:;" v-on:click="previousClick">이전</a>
                                                </li>

                                                <li class="paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick">
                                                    <a href="javascript:;" aria-controls="example2" v-bind:btn_id="btn">{{btn}}</a>
                                                </li>

                                                <li class="paginate_button next" id="requestNextBtn">
                                                    <a href="javascript:;" v-on:click="nextClick">다음</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                                <div id="overdue" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="overdueItems" class="table table-bordered table-hover dataTable font-14"
                                                   role="grid" aria-describedby="example2_info">
                                                <thead>
                                                <tr role="row">
                                                    <th id="overdueSelectAll" class="text-center bg-dark-blue-gradient table-middle" tabindex="0" rowspan="1" colspan="1">
                                                        <input type="checkbox" id="rowID" aria-label="Checkbox for following text input">
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        대여인
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        대여팀
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        자산번호
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        자산명칭
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        대분류
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        소분류 1
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        소분류 2
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        시작일
                                                    </th>
                                                    <th class="text-center bg-dark-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                        종료일
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody id="overdueList">
                                                <tr role="row" class="odd item" v-for="(dto, idx) in items" >
                                                    <td class="text-center"> <input type="checkbox" aria-label="Checkbox for following text input" v-bind:index="idx"  v-bind:itemId="dto.id" v-on:change="checkHandler( event, dto )"> </td>
                                                    <td class="text-center" >{{dto.userName}}        </td>
                                                    <td class="text-center" >{{dto.teamName}}        </td>
                                                    <td class="text-center" >{{dto.itemId}}          </td>
                                                    <td class="text-center" >{{dto.itemName}}        </td>
                                                    <td class="text-center" >{{dto.superCate}}       </td>
                                                    <td class="text-center" >{{dto.subCateFirst}}    </td>
                                                    <td class="text-center" >{{dto.subCateSecond}}   </td>
                                                    <td class="text-center" >{{dto.startDate}}       </td>
                                                    <td class="text-center" >{{dto.endDate}}         </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="overdueShowPage" class="row">
                                        <div class="col-sm-6">
                                            <span class="dataTables_info" role="status" aria-live="polite">
                                                Showing {{currentPage}} to 10 of {{totalElements}} entries
                                            </span>
                                                <span v-if="selectedElements != 0">
                                                / selected item(s) {{selectedElements}}
                                            </span>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group pull-right">
                                                <button id="returnButton" type="button" class="btn btn-sm btn-primary dark" v-on:click="returnHandler"> 반납 </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center col-sm-12">
                                        <div class="dataTables_paginate paging_simple_numbers" id="overduePageBtn">
                                            <ul class="pagination">
                                                <li class="paginate_button previous" id="overduePreviousBtn">
                                                    <a href="javascript:;" v-on:click="previousClick">이전</a>
                                                </li>
                                                <li class="paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick">
                                                    <a href="javascript:;" aria-controls="example2" v-bind:btn_id="btn">{{btn}}</a>
                                                </li>

                                                <li class="paginate_button next" id="overdueNextBtn">
                                                    <a href="javascript:;" v-on:click="nextClick">다음</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <!-- Content End -->

    <!-- Footer Start -->
    <div th:replace="fragment/footer :: footer"></div>
    <!-- Footer End -->

    <!-- controlSidebar Start -->
    <div th:replace="fragment/controlSidebar :: controlSidebar"></div>
    <!-- controlSidebar End -->

    <div class="control-sidebar-bg"></div>

    <!-- itemModal Start -->
    <div th:replace="fragment/modal/rentalModal :: rentalModal"></div>
    <!-- itemModal End -->

</div>


<script src="/app/rental.js"></script>
</body>
</html>