<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml">

<div id="addressModal" class="modal fade" tabindex="-1" role="dialog"  th:fragment="addressModal"  >
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="closeHandler"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" v-if="!mode">주소정보등록</h4>
                <h4 class="modal-title" v-if="mode" >주소정보수정</h4>
            </div>
            <div class="modal-body">
                <form id="addressModalForm" >

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">주소별칭</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="nameAddree">name</label>
                                <input  type="text" class="form-control" id="nameAddree" placeholder="위치명" v-model="item.name">
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">대표번호</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="phoneAddree">phone</label>
                                <input  type="text" class="form-control" id="phoneAddree" placeholder="대표번호" v-model="item.phone">
                            </div>
                            <label class="col-sm-2 col-form-label">Fax번호</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="faxAddree">fax</label>
                                <input type="text" class="form-control" id="faxAddree" placeholder="Fax번호" v-model="item.fax">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">주소정보</label>
                            <div class="col-sm-12">
                                <label class="sr-only" for="addressAddree">address</label>
                                <input  type="text" class="form-control" id="addressAddree" placeholder="주소정보" v-model="item.address">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">상세주소</label>
                            <div class="col-sm-12">
                                <label class="sr-only" for="addressDetailAddree">addressDetail</label>
                                <input type="text" class="form-control" id="addressDetailAddree" placeholder="상세주소" v-model="item.addressDetail">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="createAddressButton" type="button" class="btn btn-primary" v-if="!mode" v-on:click="createItem( event, window.registerUser)" >Create</button>
                <button id="updateAddressButton" type="button" class="btn btn-primary" v-if="mode"  v-on:click="updateItem( event, window.updateUser)" >Save changes</button>
                <button id="deleteAddressButton" v-if="mode" type="button" class="btn btn-danger" v-on:click="deleteItem" > Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="closeHandler">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</html>

