<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml">

<div id="departmentModal" class="modal fade" tabindex="-1" role="dialog"  th:fragment="departmentModal"  >
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="closeHandler"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" v-if="!mode">부서정보등록</h4>
                <h4 class="modal-title" v-if="mode" >부서정보수정</h4>
            </div>
            <div class="modal-body">
                <form id="departmentModalForm" >

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">부서명</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="idDepartment">id</label>
                                <input  type="text" class="form-control" id="idDepartment" placeholder="부서명" v-model="item.name">
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">부서장</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="headDepartment">head</label>
                                <input disabled type="text" class="form-control" id="headDepartment" placeholder="부서장" v-model="item.head">
                            </div>
                            <label class="col-sm-2 col-form-label">임명일</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="headDateDepartment">headDate</label>
                                <input disabled type="text" class="form-control" id="headDateDepartment" placeholder="임명일" v-model="item.headDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">대표번호</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="phoneDepartment">phone</label>
                                <input  type="text" class="form-control" id="phoneDepartment" placeholder="대표번호" v-model="item.phone">
                            </div>
                            <label class="col-sm-2 col-form-label">Fax번호</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="faxDepartment">fax</label>
                                <input type="text" class="form-control" id="faxDepartment" placeholder="Fax번호" v-model="item.fax">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">주소명칭</label>
                            <div class="col-sm-12">
                                <select id="itemStateDepartment" class="form-control" v-model="addressName" v-on:change="addressHandler">
                                    <option value="">선택</option>
                                    <option v-for="state in placeList" >{{state.name}}</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">주소</label>
                            <div class="col-sm-12">
                                <label class="sr-only" for="addressDepartment">address</label>
                                <input disabled type="text" class="form-control" id="addressDepartment" placeholder="주소" v-model="address">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">상세주소</label>
                            <div class="col-sm-12">
                                <label class="sr-only" for="addressDetailDepartment">addressDetail</label>
                                <input disabled type="text" class="form-control" id="addressDetailDepartment" placeholder="상세주소" v-model="addressDetail">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="createDepButton" type="button" class="btn btn-primary" v-if="!mode" v-on:click="createItem( window.registerUser)" >Create</button>
                <button id="updateDepButton" type="button" class="btn btn-primary" v-if="mode"  v-on:click="updateItem( window.updateUser)" >Save changes</button>
                <button id="deleteDepButton" v-if="mode" type="button" class="btn btn-danger" v-on:click="deleteItem" > Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="closeHandler">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</html>

