<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml">

<div id="teamModal" class="modal fade" tabindex="-1" role="dialog"  th:fragment="teamModal"  >
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="closeHandler"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" v-if="!mode">팀정보등록</h4>
                <h4 class="modal-title" v-if="mode" >팀정보수정</h4>
            </div>
            <div class="modal-body">
                <form id="itemModalForm" >

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">팀명</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="id">id</label>
                                <input  type="text" class="form-control" id="id" placeholder="팀명" v-model="selectedItem.name">
                            </div>
                            <div class="col-sm-7"></div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">팀장</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="head">head</label>
                                <input disabled type="text" class="form-control" id="head" placeholder="팀장" v-model="selectedItem.head">
                            </div>
                            <label class="col-sm-2 col-form-label">임명일</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="headDate">headDate</label>
                                <input type="text" class="form-control" id="headDate" placeholder="임명일" v-model="selectedItem.headDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">대표번호</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="phone">phone</label>
                                <input  type="text" class="form-control" id="phone" placeholder="대표번호" v-model="selectedItem.phone">
                            </div>
                            <label class="col-sm-2 col-form-label">Fax번호</label>
                            <div class="col-sm-5">
                                <label class="sr-only" for="fax">fax</label>
                                <input type="text" class="form-control" id="fax" placeholder="Fax번호" v-model="selectedItem.fax">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">부서</label>
                            <div class="col-sm-12">
                                <select class="form-control" v-model="selectedDepartment" v-on:change="departmentHandler">
                                    <option value="">선택</option>
                                    <option v-for="state in departmentList" >{{state.name}}</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">주소명칭</label>
                            <div class="col-sm-12">
                                <select id="itemState" class="form-control" v-model="selectedPlace" v-on:change="placeHandler">
                                    <option value="">선택</option>
                                    <option v-for="state in placeList" >{{state.name}}</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">주소</label>
                            <div class="col-sm-12">
                                <label class="sr-only" for="address">address</label>
                                <input disabled type="text" class="form-control" id="address" placeholder="주소" v-model="address">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 md-4">
                        <div class="form-group row row-center text-center">
                            <label class="col-sm-2 col-form-label">상세주소</label>
                            <div class="col-sm-12">
                                <label class="sr-only" for="addressDetail">addressDetail</label>
                                <input disabled type="text" class="form-control" id="addressDetail" placeholder="상세주소" v-model="addressDetail">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-if="!mode" v-on:click="createItem( window.registerUser)" >Create</button>
                <button type="button" class="btn btn-primary" v-if="mode"  v-on:click="updateItem( window.updateUser)" >Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="closeHandler">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



</html>

